body{overflow-x: hidden;}
p {
    display: inline;
}

.ShowData {
    padding-left: -10px;
    max-height: 250px;
    background: linear-gradient(
        to bottom,
        rgb(212, 212, 212) 0%,
        rgb(247, 247, 247) 0%
    );
    min-height: 300px;
}

#departmentOrganizationName {
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

#userAvatar {
    border-radius: 50%;
}

#userData {
    margin-top: 30px;
}
@media only screen and (max-width: 768px) {
    .centerElement {
        text-align: center;
        margin: 0 auto;
    }
}

#organizationLogo {
    margin-top: 10px;
    font-size: 1.4em;
}


/******************* Calender **********************/
a.btn.approve.btn-xs{color:#23BF08;}
a.btn.reject.btn-xs{color:#dc3545;}
.name-avatar{
    display: flex;
}
.avatar {
    position: relative;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
input#name{height:42px;}

.profile-pic {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: 8px solid rgb(240, 242, 247);
    position: absolute;

}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: absolute;
  bottom: -5px;
  right: 30px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.filter-selectable{
    width:auto !important;
    margin: 0px 5px;
}
.filter-btn{
margin-left: 5px;
}
.event-users{
    height: 500px;
    overflow: auto;
}
.event-users .list-group-item{
    min-width: 100%;
    min-height: 60px;
}
.card-calendar{
    padding:20px;
    height: 100%;
}
.calendar-footer{
    background-color:#dee2e6;
    background-image: linear-gradient(#fff, #dee2e6);
    position: absolute;
    bottom:0;
    left:0;
    right:0;
}


.more-menu {
    width: auto;
}
.more-action{
		position: relative;
		display: inline-block;
}
/* More Button / Dropdown Menu */

.more-btn,
.more-menu-btn {
    background: none;
    border: 0 none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
}

.more-dot {
    background-color: #aab8c2;
    margin: 0 auto;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 1px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.more-menu {
    position: absolute;
    top:-45px;
    z-index: 900;
    float: left;
    right: 0;
    padding: 5px;
    margin-bottom: 9px;
    background-color: #fff;
    border: 1px solid #ccd8e0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    opacity: 0;
    -webkit-transform: translate(0, 15px) scale(.95);
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.more-menu-caret {
    position: absolute;
    bottom: -10px;
    right: 7px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}

.more-menu-caret-outer,
.more-menu-caret-inner {
    position: absolute;
    display: inline-block;
    margin-left: -1px;
    font-size: 0;
    line-height: 1;
}

.more-menu-caret-outer {
    border-top: 10px solid #c1d0da;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;
}

.more-menu-caret-inner {
    top: 1px;
    left: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #fff;
}

.more-menu-items {
    margin: 0;
    list-style: none;
    padding: 0;
      display: flex;
}

.more-menu-item {
    display: block;
}

.more-menu-btn {
    min-width: 100%;
    color: #66757f;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 18px;
    padding: 4px 6px;
    position: relative;
    white-space: nowrap;
}

.more-menu-item:hover {
    background-color: #489fe5;
}

.more-menu-item:hover .more-menu-btn {
    color: #fff;
}

.more-btn:hover .more-dot,
.show-more-menu .more-dot {
    background-color: #516471;
}

.show-more-menu .more-menu {
	opacity: 1;
	-webkit-transform: translate(0, 0) scale(1);
	transform: translate(0, 0) scale(1);
	pointer-events: auto;
}
.vl {
	border-left: 2px solid #dee2e6;
	height: 28px;
	margin:0 5px ;
}

.ckbox.inline {
	display: inline-block;
}
