body {
  background: rgba(0, 37, 58, 1);
  font-family: "proxima-nova", "Proxima Nova", "HelveticaNeue-Regular", "Helvetica Neue", "sans-serif"; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

a {
  color: white;
  text-decoration: none; }

a:focus, a:active {
  outline: none;
  border: none; }

.top-section {
	padding-top: 60px;
	text-align: center;
	background: url(../assets/images/bg.jpg) no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
}

.top-section:after {
  position: absolute;
  content: '';
  width: 100%;
  opacity: 0.9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 37, 58, 1)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 37, 58, 1) 0%, transparent 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 37, 58, 1) 0%, transparent 100%);
  background-image: -o-linear-gradient(top, rgba(0, 37, 58, 1) 0%, transparent 100%);
  background-image: linear-gradient(-180deg, rgba(0, 37, 58, 1) 0%, transparent 100%);
  height: 500px;
  left: 0;
  top: 0;
  z-index: 0; }

.icon {
  position: relative;
  z-index: 1; }

h1 {
  font-weight: 400;
  margin-top: 20px;
  font-size: 36px;
  color: #FFFFFF;
  position: relative;
  z-index: 1; }

h2 {
  font-weight: 300;
  margin-top: 8px;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.8;
  position: relative;
  z-index: 1; }

.download-button {
  display: inline-block;
  height: 54px;
  padding: 0 30px 0 60px;
  line-height: 56px;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 30px 0 50px;
  text-decoration: none;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -moz-background-size: 13px 16px;
	-o-background-size: 13px 16px;
	background-size: 13px 16px;
  background-position: 30px center;
  background-repeat: no-repeat; }

	.download-button.ios {
		background-image: url(../assets/images/apple.png);
	}
	
	.download-button.android {
		background-image: url(../assets/images/android.png);
	}

.download-button:hover {
  background-color: black; }

.iphone-container {
  position: relative;
  z-index: 1;
  top: -20px;
  width: 346px;
  margin: 0 auto; }

	.signup-button, .signin-button {
		position: absolute;
    display: block;
    top: 331px;
    height: 36px;
    left: 79px;
    right: 0;
    width: 185px;
		opacity: 0;
		border-radius: 3px;
		background: #000;
		-webkit-transition: all 0.25s ease;
		-o-transition: all 0.25s ease;
		-moz-transition: all 0.25s ease;
		transition: all 0.25s ease;
	}

	.signup-button:hover, .signin-button:hover {
		opacity: 0.1;
	}

	.signin-button {
		top: 374px;
	}

.colorname {
  position: absolute;
  font-size: 15px;
  color: white;
  font-weight: 400;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 116px;
  height: 15px; }

.hex {
  position: absolute;
  font-size: 11px;
  color: white;
  opacity: 0.75;
  font-weight: 300;
  letter-spacing: 1px;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 96px;
  height: 11px; }



.features, .media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative; }

.features:after {
  position: absolute;
  width: 100%;
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(4, 10, 17, 0)), color-stop(57%, rgba(0, 37, 58, 1)));
  background-image: -webkit-linear-gradient(top, rgba(4, 10, 17, 0) 3%, rgba(0, 37, 58, 1) 57%);
  background-image: -moz-linear-gradient(top, rgba(4, 10, 17, 0) 3%, rgba(0, 37, 58, 1) 57%);
  background-image: -o-linear-gradient(top, rgba(4, 10, 17, 0) 3%, rgba(0, 37, 58, 1) 57%);
  background-image: linear-gradient(-180deg, rgba(4, 10, 17, 0) 3%, rgba(0, 37, 58, 1) 57%);
  height: 250px;
  top: -250px;
  left: 0;
  z-index: 0; }

.features__item {
  -webkit-flex-basis: 220px;
      -ms-flex-preferred-size: 220px;
          flex-basis: 220px;
  text-align: center;
  padding: 0 20px;
  margin: 0 0;
  padding-top: 80px;
  background: url(../assets/images/freeze.png) no-repeat;
  -moz-background-size: 48px 52px;
    -o-background-size: 48px 52px;
       background-size: 48px 52px;
  background-position: top center; }

.features__item--pantone {
  background-image: url(../assets/images/pantone.png); }

.features__item--colorblind {
  background-image: url(../assets/images/colorblind.png); }

.features__item--realtime {
  background-image: url(../assets/images/realtime.png); }

.features__item--copy {
  background-image: url(../assets/images/copy.png); }

.media {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.media__item {
  -webkit-flex-basis: 250px;
      -ms-flex-preferred-size: 250px;
          flex-basis: 250px;
  height: 40px;
  text-align: center;
  padding: 0 20px;
  margin: 0 30px;
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain; }

.media__item--pp {
  background-image: url(../assets/images/petapixel.png);
  height: 30px; }

.media__item--ph {
  background-image: url(../assets/images/producthunt.png); }

.media__item--bp {
  background-image: url(../assets/images/beautifulpixels.png); }

.media__item--tl {
  background-image: url(../assets/images/theloop.png); }

.heading {
  font-size: 18px;
  color: white;
  font-weight: 300; }

.description {
  font-size: 16px;
  color: white;
  opacity: 0.5;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 12px; }

.separator {
  margin: 100px auto;
  height: 5px;
  width: 24px;
  background: url(../assets/images/separator.png) no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain; }

.about {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 40px 40px;
  text-align: center;
  line-height: 1.5; }
  .about .copyright {
    margin-top: 30px;
    font-size: 12px;
    opacity: 0.5; }

/**
 * ANIMATION TIME!!!
 */
@-webkit-keyframes picker-animation {
  0%, 25% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  30%, 55% {
    -webkit-transform: translate3d(40px, 60px, 0);
            transform: translate3d(40px, 60px, 0); }
  60%, 85% {
    -webkit-transform: translate3d(-130px, -5px, 0);
            transform: translate3d(-130px, -5px, 0); }
  90%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-moz-keyframes picker-animation {
  0%, 25% {
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0); }
  30%, 55% {
    -moz-transform: translate3d(40px, 60px, 0);
         transform: translate3d(40px, 60px, 0); }
  60%, 85% {
    -moz-transform: translate3d(-130px, -5px, 0);
         transform: translate3d(-130px, -5px, 0); }
  90%, 100% {
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0); } }
@-o-keyframes picker-animation {
  0%, 25% {
    transform: translate3d(0, 0, 0); }
  30%, 55% {
    transform: translate3d(40px, 60px, 0); }
  60%, 85% {
    transform: translate3d(-130px, -5px, 0); }
  90%, 100% {
    transform: translate3d(0, 0, 0); } }
@keyframes picker-animation {
  0%, 25% {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  30%, 55% {
    -webkit-transform: translate3d(40px, 60px, 0);
       -moz-transform: translate3d(40px, 60px, 0);
            transform: translate3d(40px, 60px, 0); }
  60%, 85% {
    -webkit-transform: translate3d(-130px, -5px, 0);
       -moz-transform: translate3d(-130px, -5px, 0);
            transform: translate3d(-130px, -5px, 0); }
  90%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes preview-animation {
  0%, 25% {
    background-color: #6fb400; }
  30%, 55% {
    background-color: #3D5340; }
  60%, 85% {
    background-color: #72708A; }
  90%, 100% {
    background-color: #6fb400; } }
@-moz-keyframes preview-animation {
  0%, 25% {
    background-color: #6fb400; }
  30%, 55% {
    background-color: #3D5340; }
  60%, 85% {
    background-color: #72708A; }
  90%, 100% {
    background-color: #6fb400; } }
@-o-keyframes preview-animation {
  0%, 25% {
    background-color: #6fb400; }
  30%, 55% {
    background-color: #3D5340; }
  60%, 85% {
    background-color: #72708A; }
  90%, 100% {
    background-color: #6fb400; } }
@keyframes preview-animation {
  0%, 25% {
    background-color: #6fb400; }
  30%, 55% {
    background-color: #3D5340; }
  60%, 85% {
    background-color: #72708A; }
  90%, 100% {
    background-color: #6fb400; } }
.hex__1, .hex__2, .hex__3 {
  position: absolute;
  left: 0;
  right: 0; }

.hex__1 {
  opacity: 1;
  visibility: visible;
  -webkit-animation: hex__1 4s 0s ease infinite forwards;
     -moz-animation: hex__1 4s 0s ease infinite forwards;
       -o-animation: hex__1 4s 0s ease infinite forwards;
          animation: hex__1 4s 0s ease infinite forwards; }

.hex__2 {
  opacity: 0;
  visibility: hidden;
  -webkit-animation: hex__2 4s 0s ease infinite forwards;
     -moz-animation: hex__2 4s 0s ease infinite forwards;
       -o-animation: hex__2 4s 0s ease infinite forwards;
          animation: hex__2 4s 0s ease infinite forwards; }

.hex__3 {
  opacity: 0;
  visibility: hidden;
  -webkit-animation: hex__3 4s 0s ease infinite forwards;
     -moz-animation: hex__3 4s 0s ease infinite forwards;
       -o-animation: hex__3 4s 0s ease infinite forwards;
          animation: hex__3 4s 0s ease infinite forwards; }

@-webkit-keyframes hex__1 {
  0%, 25% {
    opacity: 1;
    visibility: visible; }
  30%, 85% {
    opacity: 0;
    visibility: hidden; }
  90%, 100% {
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes hex__1 {
  0%, 25% {
    opacity: 1;
    visibility: visible; }
  30%, 85% {
    opacity: 0;
    visibility: hidden; }
  90%, 100% {
    opacity: 1;
    visibility: visible; } }

@-o-keyframes hex__1 {
  0%, 25% {
    opacity: 1;
    visibility: visible; }
  30%, 85% {
    opacity: 0;
    visibility: hidden; }
  90%, 100% {
    opacity: 1;
    visibility: visible; } }

@keyframes hex__1 {
  0%, 25% {
    opacity: 1;
    visibility: visible; }
  30%, 85% {
    opacity: 0;
    visibility: hidden; }
  90%, 100% {
    opacity: 1;
    visibility: visible; } }
@-webkit-keyframes hex__2 {
  0%, 25% {
    opacity: 0;
    visibility: hidden; }
  30%, 55% {
    opacity: 1;
    visibility: visible; }
  60%, 85% {
    opacity: 0;
    visibility: hidden; }
  90%, 100% {
    opacity: 0;
    visibility: hidden; } }
@-moz-keyframes hex__2 {
  0%, 25% {
    opacity: 0;
    visibility: hidden; }
  30%, 55% {
    opacity: 1;
    visibility: visible; }
  60%, 85% {
    opacity: 0;
    visibility: hidden; }
  90%, 100% {
    opacity: 0;
    visibility: hidden; } }
@-o-keyframes hex__2 {
  0%, 25% {
    opacity: 0;
    visibility: hidden; }
  30%, 55% {
    opacity: 1;
    visibility: visible; }
  60%, 85% {
    opacity: 0;
    visibility: hidden; }
  90%, 100% {
    opacity: 0;
    visibility: hidden; } }
@keyframes hex__2 {
  0%, 25% {
    opacity: 0;
    visibility: hidden; }
  30%, 55% {
    opacity: 1;
    visibility: visible; }
  60%, 85% {
    opacity: 0;
    visibility: hidden; }
  90%, 100% {
    opacity: 0;
    visibility: hidden; } }
@-webkit-keyframes hex__3 {
  0%, 25% {
    opacity: 0;
    visibility: hidden; }
  30%, 55% {
    opacity: 0;
    visibility: hidden; }
  60%, 85% {
    opacity: 1;
    visibility: visible; }
  90%, 100% {
    opacity: 0;
    visibility: hidden; } }
@-moz-keyframes hex__3 {
  0%, 25% {
    opacity: 0;
    visibility: hidden; }
  30%, 55% {
    opacity: 0;
    visibility: hidden; }
  60%, 85% {
    opacity: 1;
    visibility: visible; }
  90%, 100% {
    opacity: 0;
    visibility: hidden; } }
@-o-keyframes hex__3 {
  0%, 25% {
    opacity: 0;
    visibility: hidden; }
  30%, 55% {
    opacity: 0;
    visibility: hidden; }
  60%, 85% {
    opacity: 1;
    visibility: visible; }
  90%, 100% {
    opacity: 0;
    visibility: hidden; } }
@keyframes hex__3 {
  0%, 25% {
    opacity: 0;
    visibility: hidden; }
  30%, 55% {
    opacity: 0;
    visibility: hidden; }
  60%, 85% {
    opacity: 1;
    visibility: visible; }
  90%, 100% {
    opacity: 0;
		visibility: hidden; } }

/**
 * MODAL
 */
.modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.modal-active {
  overflow: hidden;
  position: relative;
  height: 100vh; }
  .modal-active .modal {
    visibility: visible;
    opacity: 1; }

.modal__overlay {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.modal__close {
  position: absolute;
  width: 48px;
  height: 48px;
  background: url(../assets/images/back.png) no-repeat;
  -moz-background-size: 24px 12px;
    -o-background-size: 24px 12px;
       background-size: 24px 12px;
  background-position: center;
  left: -webkit-calc(50% - 24px);
  left: -moz-calc(50% - 24px);
  left: calc(50% - 24px);
  top: 100px;
  cursor: pointer; }

.modal__content {
  width: 400px;
  height: 400px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFD), to(#F8F8FA));
  background-image: -webkit-linear-gradient(top, #FCFCFD 0%, #F8F8FA 100%);
  background-image: -moz-linear-gradient(top, #FCFCFD 0%, #F8F8FA 100%);
  background-image: -o-linear-gradient(top, #FCFCFD 0%, #F8F8FA 100%);
  background-image: linear-gradient(-180deg, #FCFCFD 0%, #F8F8FA 100%);
  position: absolute;
  left: -webkit-calc(50% - 200px);
  left: -moz-calc(50% - 200px);
  left: calc(50% - 200px);
  top: -webkit-calc(50% - 200px);
  top: -moz-calc(50% - 200px);
  top: calc(50% - 200px);
  padding: 32px; }
  .modal__content .color-preview {
    height: 80px;
    width: 80px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    margin: 0 auto 24px;
    background-color: red;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
    position: relative; }
    .modal__content .color-preview:after {
      content: '';
      position: absolute;
      background-color: inherit;
      left: 0;
      top: 0;
      height: 80px;
      width: 80px;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      opacity: 0.5;
      -webkit-transform: scale(1.5);
         -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
           -o-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-animation: pulse 2s 0s ease infinite forwards;
         -moz-animation: pulse 2s 0s ease infinite forwards;
           -o-animation: pulse 2s 0s ease infinite forwards;
              animation: pulse 2s 0s ease infinite forwards; }
  .modal__content .color-name {
    font-size: 26px;
    color: #121212;
    font-weight: 600;
    text-align: center; }
  .modal__content .color-family {
    font-size: 14px;
    color: rgba(18, 18, 18, 0.5);
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin-top: 5px; }
  .modal__content .palette-container {
    height: 44px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-top: 32px;
    width: 100%;
    position: relative; }
    .modal__content .palette-container .palette-marker {
      height: 6px;
      width: 6px;
      background: black;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      transition: all 0.25s ease; }
  .modal__content .color-palette {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    .modal__content .color-palette .color-palette__child {
      background: red;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
         -moz-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      transition: all 0.25s ease;
      cursor: pointer; }
    .modal__content .color-palette .color-palette__child--1 {
      -webkit-border-radius: 5px 0 0 5px;
         -moz-border-radius: 5px 0 0 5px;
              border-radius: 5px 0 0 5px; }
    .modal__content .color-palette .color-palette__child--5 {
      -webkit-border-radius: 0 5px 5px 0;
         -moz-border-radius: 0 5px 5px 0;
              border-radius: 0 5px 5px 0; }
  .modal__content .copy {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px; }
  .modal__content .copy__item {
    background: white;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
       -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    cursor: pointer;
    padding: 20px 0;
    background-image: url(../assets/images/copy-small.png);
    -moz-background-size: 11px 11px;
      -o-background-size: 11px 11px;
         background-size: 11px 11px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
    position: relative; }
    .modal__content .copy__item:hover {
      -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
         -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
              box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15); }
  .modal__content .copy__message {
    opacity: 0;
    font-size: 10px;
    color: #121212;
    position: absolute;
    top: 5px;
    left: 5px; }
    .modal__content .copy__message.copy__message--animate {
      -webkit-animation: copied 1s 0s ease;
         -moz-animation: copied 1s 0s ease;
           -o-animation: copied 1s 0s ease;
              animation: copied 1s 0s ease; }
  .modal__content .copy__value {
    font-size: 16px;
    color: #121212; }
  .modal__content .copy__type {
    opacity: 0.5;
    font-size: 12px;
    color: #121212;
    letter-spacing: 1px;
    margin-top: 3px; }
  .modal__content .copy__item--hex {
    margin-right: 8px; }
  .modal__content .copy__item--rgb {
    margin-left: 8px; }

@-webkit-keyframes pulse {
  from {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@-moz-keyframes pulse {
  from {
    opacity: 0.5;
    -moz-transform: scale(1);
         transform: scale(1); }
  to {
    opacity: 0;
    -moz-transform: scale(1.5);
         transform: scale(1.5); } }

@-o-keyframes pulse {
  from {
    opacity: 0.5;
    -o-transform: scale(1);
       transform: scale(1); }
  to {
    opacity: 0;
    -o-transform: scale(1.5);
       transform: scale(1.5); } }

@keyframes pulse {
  from {
    opacity: 0.5;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5); } }
@-webkit-keyframes copied {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  25%, 75% {
    opacity: 0.25;
    -webkit-transform: translateX(16px);
            transform: translateX(16px); } }
@-moz-keyframes copied {
  0% {
    opacity: 0;
    -moz-transform: translateX(0);
         transform: translateX(0); }
  25%, 75% {
    opacity: 0.25;
    -moz-transform: translateX(16px);
         transform: translateX(16px); } }
@-o-keyframes copied {
  0% {
    opacity: 0;
    -o-transform: translateX(0);
       transform: translateX(0); }
  25%, 75% {
    opacity: 0.25;
    -o-transform: translateX(16px);
       transform: translateX(16px); } }
@keyframes copied {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); }
  25%, 75% {
    opacity: 0.25;
    -webkit-transform: translateX(16px);
       -moz-transform: translateX(16px);
         -o-transform: translateX(16px);
            transform: translateX(16px); } }
/**
 * RESPONSIVE
 */
@media all and (max-width: 600px) {
  .features, .media {
    display: block; }

  .features__item, .media__item {
    margin-bottom: 50px; }

  .separator {
    margin: 50px auto; }

  .about {
    padding: 0 50px 40px 50px;
    line-height: 1.5; }

  .modal__content {
    top: 100px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    height: 100%;
    width: 100%;
    left: 0; } }
/*# sourceMappingURL=style.css.map */